<a href="https://colab.research.google.com/github/aoiadrian/Cursos_edutech/blob/main/Notebook/Data_visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
URL = 'https://raw.githubusercontent.com/aoiadrian/Cursos_edutech/main/Dados/tips.csv'

In [ ]:
dado = pd.read_csv(URL)

In [ ]:
dado.head(3)

   total_bill   tip dessert  day    time  size
0       16.99  1.01      No  Sun  Dinner     2
1       10.34  1.66      No  Sun  Dinner     3
2       21.01  3.50      No  Sun  Dinner     3